* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    text-align: center;
    background-color: red;
    color: white;
    padding: 2%;
}

main {
    width: 70%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0 2% 0;
}


aside {
    text-align: center;
    width: 30%;
    float: right;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10%;
}

footer  a {
    color: white;
    text-decoration: none;
}

footer  a:hover{
    color: blue;
    text-decoration: underline;
}

button {
    border-radius: 10px;
    cursor: pointer;
    background-color: red;
    padding: 1%;
}

button:hover {
    background-color: white;
}



.chart-container {
    position: relative;
    width: 90%;  /* Larghezza del grafico rispetto al main */
    max-width: 800px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

footer {
    clear: both;
    text-align: center;
    background-color: red;
    color: white;
    padding: 1% 0 1% 0%;
}